{% extends 'layout.html.twig' %}

{% block title %}
    <title> category </title>
{% endblock %}

{% block content %}
    <section>
        <h1>Categories</h1>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}